*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    background: rgb(228, 225, 222);
    height: 100vh;
}
select{
    display: block;    
    margin: 3px;
    width: 300px;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;    
}
.fipe{
    border: 1px solid cornflowerblue;
    padding: 20px;
}
.fipe .resultado{
    text-align: center;
}